<h1 id="introduction">Twitter Users</h1>

<p>
  Twitter has a wide array of people from all aspects of life !!
</p>

<%= will_paginate %>

<ul class= "users">
  <% @users.each do |user| %>
  
    <div style="padding-top:10px;"> 
    <%= image_tag "gravatar.jpg",:height=>50,:width=>50,:class=>"set_middle" %>
    
    <span style="font-size:20px;color:#a0a0ff;padding-left:10px">
      <%= link_to user.name, user  %> 
    </span>

    </div>
  <% end %>
</ul>

<%= will_paginate %>
