<div class="post_content">
  <%= image_tag "gravatar.jpg",:height=>100,:width=>100,:class=>"set_middle" %>
  <span style="font-size: 32px;padding-left: 10px;color:#a0a0ff;"><%=@user.name%></span>
</div>
