<% flash.each do |key,value| %>
     <div style="color:#FF0000;font-size: 16px;"><%= value %></div>
<%end%>
<h1 id="introduction">Post Tweet</h1>
<p>
  Post your tweets in the Text Box given below, Restrict your tweets to 140 characters.
</p>

<%= form_for(@micropost) do |f|  %>
<div><%= f.text_area :content,:cols=>50,:rows=>7%></div>

  <%=  f.submit "Post Tweet",:id=>"tweetbutton" %>

<%end%>
