
<h1 id="introduction">Follow your interests</h1>

<p>
  Hi Everybody and welcome to my own version of twitter :) . Get instant updates from your friends, industry experts,    favorite celebrities, and what’s happening around the world.
</p>

<%= image_tag("tweet_side.png") %>
