<!-- ###### Footer ###### -->
<div class="footer">

  <div class="content">
    &copy; <%= link_to "Prozac","http://www.facebook.com/manjunath.nm89",:target=>"_blank" %> | All Rights Reserved
  </div>
         
</div>

