<!-- ###### Header ###### -->

<div id="top"></div>

<div id="header">
   <%= image_tag("tweet.png", :alt => "Sample App", :width => 50, :height => 45,:class => "tweet_img") %>

   <span class="headerTitle">Welcome to Twitter!</span>
      <div class="headerLinks">
        <%= link_to "Home", "/" %>|
        <%= link_to "Sign In", "#" %>

      </div>
</div>
